<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SauceDemo Suite">

	<listeners>

        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>

    </listeners>

    <test name="SauceDemo Tests">

        <classes>

            <class name="tests.LoginTest"/>

            <class name="tests.AddProductToCartTest"/>

            <class name="tests.RemoveProductFromCartTest"/>

            <class name="tests.ProductInCartTest"/>

            <class name="tests.CheckoutTest"/>

            <class name="tests.CompleteCheckoutTest"/>

        </classes>

    </test>

</suite>